@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@font-face {
    font-family: 'Butler';
    src: local('Butler UltraLight'), local('Butler UltraLight'), url('../fonts/Butler_Webfont/Butler-UltraLight.woff2') format('woff2'), url('../fonts/Butler_Webfont/Butler-UltraLight.woff') format('woff'), url('../fonts/Butler/Butler_Ultra_Light.otf') format('otf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: local('Butler Light'), local('Butler-Light'), url('../fonts/Butler_Webfont/Butler-Light.woff2') format('woff2'), url('../fonts/Butler_Webfont/Butler-Light.woff') format('woff'), url('../fonts/Butler/Butler_Light.otf') format('otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: local('Butler'), url('../fonts/Butler_Webfont/Butler.woff2') format('woff2'), url('../fonts/Butler_Webfont/Butler.woff') format('woff'), url('../fonts/Butler/Butler_Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: local('Butler Medium'), url('../fonts/Butler_Webfont/Butler-Medium.woff2') format('woff2'), url('../fonts/Butler_Webfont/Butler-Medium.woff') format('woff'), url('../fonts/Butler/Butler_Medium.otf') format('otf');
    font-weight: 500;
    font-style: normal;
}