/* Base */

:root {
    font-size: 16px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #000;
}

html {
    line-height: 1.2;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}


/* main::before {
    content: url(../img/maket-202249-38d1e4.jpg);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .5;
} */

.bold {
    font-weight: 700;
}


/* Section Screen */

.section-screen {
    height: 100vh;
    min-height: 500px;
    overflow: hidden;
    position: relative;
}


/* Hero */

.hero-title-wrapper {
    padding: 1.4em 0.7em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 5.5rem;
    text-align: center;
    background-color: #fff;
}

.hero-title {
    font-family: 'Butler', sans-serif;
    font-weight: 300;
    font-size: 1em;
    white-space: nowrap;
}

.hero-subtitle {
    margin-top: 0.8em;
    margin-bottom: -2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: .2em;
}

.hero-img-wrapper {
    width: 100%;
    max-width: 1065px;
    height: 100%;
    max-height: 630px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Biography */

.biography-title {
    display: inline-block;
    position: absolute;
    bottom: 100px;
    right: 40px;
    transform: rotate(-90deg);
    font-family: 'Roboto', sans-serif;
    font-size: 1.125em;
}

.biography-content {
    max-width: 1176px;
    margin: 0 auto;
}

.biography-content-item-left {
    width: 50%;
    float: left;
}

.biography-content-item-right {
    width: 50%;
    float: right;
}

.biography-text-wrapper {
    width: 80%;
    margin-top: 32%;
    margin-left: auto;
    font-size: 5.5rem;
}

.biography-text-wrapper h3 {
    width: 50%;
    margin-bottom: .55em;
    font-family: 'Butler', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.15;
}

.biography-text-wrapper p {
    font-family: 'Roboto', sans-serif;
    font-size: .2em;
    color: #636363;
}

.biography-text-wrapper blockquote {
    margin-top: 2.85em;
    font-family: 'Butler', sans-serif;
    font-size: .38em;
    font-weight: 200;
    line-height: 1.1;
    position: relative;
}

.biography-text-wrapper blockquote::before {
    content: "";
    position: absolute;
    top: -31px;
    width: 14px;
    height: 4px;
    background-color: #000;
}

.biography-img {
    width: 95%;
    max-width: 100%;
}


/* Designers */

.designers {
    display: flex;
    font-size: 1.125rem;
    font-family: 'Roboto';
}

.designers-title {
    font-size: 1em;
    transform: rotate(-90deg) translateY(-25px);
    position: absolute;
    top: 15%;
    left: 70%;
}

.designers-item-1 {
    width: 42.5%;
    margin-right: 6em;
}

.designers-item-1>img {
    width: 100%;
    height: 60%;
    margin: 6em auto 1em 0;
    object-fit: cover;
}

.designers-item-1>*:not(:first-child) {
    margin-left: 11em;
}

.designers-item-2 {
    width: 21.4%;
    margin-right: 1.35em;
}

.designers-item-3 {
    width: 22%;
}

.designers-item-2>img,
.designers-item-3>img {
    width: 100%;
    height: 49%;
    margin: 11.5em 0 1em;
    object-fit: cover;
}

.designers-item-title {
    font-size: .9em;
    text-transform: uppercase;
}

.designers-item-text {
    font-size: .9em;
}