@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto Regular"), local("Roboto-Regular"),
    url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/Roboto/Roboto-Medium.woff") format("woff"),
    url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto/Roboto-Bold.woff") format("woff"),
    url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Butler";
  src: local("Butler UltraLight"), local("Butler-UltraLight"),
    url("../fonts/Butler_Webfont/Butler-UltraLight.woff2") format("woff2"),
    url("../fonts/Butler_Webfont/Butler-UltraLight.woff") format("woff"),
    url("../fonts/Butler/Butler_Ultra_Light.otf") format("otf");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Butler";
  src: local("Butler Light"), local("Butler-Light"),
    url("../fonts/Butler_Webfont/Butler-Light.woff2") format("woff2"),
    url("../fonts/Butler_Webfont/Butler-Light.woff") format("woff"),
    url("../fonts/Butler/Butler_Light.otf") format("otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Butler";
  src: local("Butler"),
    url("../fonts/Butler_Webfont/Butler.woff2") format("woff2"),
    url("../fonts/Butler_Webfont/Butler.woff") format("woff"),
    url("../fonts/Butler/Butler_Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Butler";
  src: local("Butler Medium"), local("Butler-Medium"),
    url("../fonts/Butler_Webfont/Butler-Medium.woff2") format("woff2"),
    url("../fonts/Butler_Webfont/Butler-Medium.woff") format("woff"),
    url("../fonts/Butler/Butler_Medium.otf") format("otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
